__vm/Upload.vmps.xml
__vm/Configuration.Debug.vmps.xml
__vm/Compile.vmps.xml
Debug/board.buildinfo
Debug/AccDisplacement.ino.map
Debug/AccDisplacement.ino.hex
AccDisplacement.v12.suo
Debug/AccDisplacement.ino.elf